.body
  .wrapper.devise--wrapper
    - if @gig.errors.any?
      #error_explanation
        %h2
          = @gig.errors.count
          件のエラーがあります。
        %ul
          - @gig.errors.full_messages.each do |msg|
            %li= msg
    .container
    %h2.gig got gigs? （編集）
    = form_with model: @gig, local: true do |f|
      .field
        = f.label :イベント名
        %span.badge.badge-danger 必須
        %br/
        = f.text_field :name
      .field
        = f.label :日時
        %span.badge.badge-danger 必須
        %br/
        != sprintf(f.datetime_select(:datetime, start_year: Time.now.year, end_year: Time.now.year + 2, minute_step: 30, use_month_numbers: true, date_separator: '%s', datetime_separator: '%s', time_separator: '%s'),'年 ', '月 ', '日', '時') + '分'
      .field
        = f.label :場所
        %span.badge.badge-danger 必須
        %br/
        = f.text_field :location
      .field
        = f.label :ジャンル
        %span.badge.badge-danger 必須
        %br/
        = f.text_field :genre
      .field
        = f.label :募集パート
        %span.badge.badge-danger 必須
        %br/
        %label
          ボーカル
          %input{type: "checkbox", name: "gig[parts][]", value: "ボーカル", class: "field__part", include_hidden: false}
        %label
          ギター
          %input{type: "checkbox", name: "gig[parts][]", value: "ギター", class: "field__part", include_hidden: false}
        %label
          キーボード
          %input{type: "checkbox", name: "gig[parts][]", value: "キーボード", class: "field__part", include_hidden: false}
        %label
          ピアノ
          %input{type: "checkbox", name: "gig[parts][]", value: "ピアノ", class: "field__part", include_hidden: false}
        %label
          ベース
          %input{type: "checkbox", name: "gig[parts][]", value: "ベース", class: "field__part", include_hidden: false}
        %label
          ドラム
          %input{type: "checkbox", name: "gig[parts][]", value: "ドラム", class: "field__part", include_hidden: false}
        %label
          その他
          %input{type: "text_field", name: "gig[parts][]"}
      .field
        = f.label :YouTube, "参考動画（YouTube）"
        %br/
        = f.text_field :youtube, placeholder: "https://www.youtube.com/XXXXXXXXXXX", size: "40"
        = f.submit "編集", class: "btn btn-primary"