.body
  .wrapper.devise--wrapper
    %h2 gig 詳細
    .container__gig
      .container__gig__left
        .field
          イベント名：
          = @gig.name
        .field
          日時：
          = @gig.datetime.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@gig.datetime.wday]}) %-H時%M分")
        .field
          場所：
          = @gig.location
        .field
          ジャンル：
          = @gig.genre
        -# .field
        -#   投稿者：
        -#   = @gig.user.name
        .field.container__gig__left__parts
          募集パート：
          - if @gig.parts.present?
            - gig_parts = @gig.parts
            - array_parts = gig_parts.split(",")
            - array_parts.each do |array_part|
              = array_part
        - if @gig.user == current_user
          = link_to "エントリー状況", gig_entries_path(@gig), class: "btn btn-warning"
        - else
          = link_to "エントリー", gig_entries_path(@gig), class: "btn btn-primary"
        %br/
        - if @gig.user_id == current_user.id
          = link_to "gig 編集", edit_gig_path(@gig), class: "btn btn-primary edit-btn"
          = link_to "gig 削除", gig_path(@gig), method: :delete, class: "btn btn-danger"
      
      .container__gig__right
        .field
          - if @gig.youtube
            参考動画：
            %br/
            %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{@gig.youtube}", :width => "560"}