!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title got gigs?
    = csrf_meta_tags
    = csp_meta_tag

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body

    .header
      .header__left
        = link_to "got gigs?", root_path, method: :get
      .header__center
        - if user_signed_in?
          = form_with(url: gigs_searches_path, local: true, method: :get, class: "search-form") do |form|
            = form.text_field :keyword, placeholder: " gigs を検索する", class: "search-input"
            = form.submit "search", class: "btn btn-primary"
        - else
          .header__center__message
            %span.header__center__message__title got gigs?
            %span.header__center__message__jp （ライブある？）
            %span.header__center__message__color ミュージシャン
            と
            %span.header__center__message__color ライブ
            のマッチングサイト
            -# %a{:href => "/users/sign_up", class: "badge badge-primary header__center__message__signup"} アカウント登録
      .header__right
        .header__right--gig
          -if user_signed_in?
            = link_to "got gigs?", new_gig_path, class: "btn btn-primary"
        .header__right--userName
          - if user_signed_in?
            = link_to current_user.name, user_path(current_user)
        .header__right--session
          - if user_signed_in?
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            = link_to "ログイン", new_user_session_path, method: :get
    .main-container
      - if flash[:notice]
        .alert.alert-info
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]

    .container
    = yield

    .footer
      ©got gigs? 2019
